---
---

@import "{{ site.theme }}";

html { 
  background: url(images/foret_lowres.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}